<div class="container">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>

<div class="row">
<div class="col"><button class="btn btn-success"><%= link_to "Cocktail List", cocktails_path%></button></div><div class="w-100"></div>
<div class="col"><button class="btn btn-success"> <%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail)%></button></div><div class="w-100"></div>
<div class="col"><button class="btn btn-danger"> <%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: {confirm: 'Are you sure?'}%></button></div>
</div>

</div>
